.action-icon {
    border: none;
    background: none;
    padding: 0 5px;
    cursor: pointer;
    color: #888;
    font-size: 1.2em;
    min-width: unset;
}

.action-icon:hover {
    color: #444;
}

.action-icon.selected {
    color: #007bff;
}

.ag-layout-auto-height, .ag-layout-print {
    .ag-center-cols-container, .ag-center-cols-viewport {
        min-height: unset;
    }
}
